@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mintGreen: #b9f3ea;
    --mintGreen1: #c1e8e3;
    --azureWebGreen: #c2faff;
    --mindaro: #bce784;
    --mindaro1: #9cde02;
    --mindaro2: #72a202;
    --mindaro3: #476501;
    --tea-green: #ecfec2;
    --pakistan-green: #21330a;
    --light-green1: #a6e28e;
    --light-green2: #8edd93;
    --non-photo-blue: #abdbe3;
    --azure-web: #d8e9ed;
    --verdigris: #72afad;
    --persian-green: #1da391;
    --asparagus: #769c62;
    --bice-blue: #046b9f;

  }