---
import Nav from './components/Nav'
import "../styles/global.css";
import NavPrayerTimes from './components/NavPrayerTimes';
import NavJummahTimes from './components/NavJummahTimes';
import Welcome from './components/Welcome';
import LatestPosts from './components/LatestPosts';
import Events from './components/Events';
import PrayerTimes from './components/PrayerTimes';
import Donate from './components/Donate';
import Volunteer from './components/Volunteer';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/assets/OIAC.Logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Welcome to OIAC Edmonton !</title>
	</head>
	<body>
		<Nav client:load></Nav>
		<div class=" hidden lg:block">
			<NavPrayerTimes client:load></NavPrayerTimes>
		</div>
		
		<NavJummahTimes client:load></NavJummahTimes>
		<Welcome client:load ></Welcome>
		<LatestPosts></LatestPosts>
		<Events></Events>
		<PrayerTimes></PrayerTimes>
		<Donate></Donate>
		<Volunteer></Volunteer>
	</body>
</html>
