---
---

<div class="px-8 py-2 mx-auto">
    <div class="container mt-5">
        <div class="bg-emerald-300 border-emerald-400 rounded-xl text-emerald-700 p-5">
            <h4 class="text-2xl text-emerald-800">Prayer Times</h4>
            <div class="bg-emerald-100 rounded-lg my-3">
                <div class="grid grid-cols-3 gap-1 border-b border-emerald-500 font-bold text-2xl mt-2 py-5 text-center">
                    <h4 class="text-left pl-5">Salaat</h4>
                    <h4>Athan</h4>
                    <h4>Iqama</h4>
                </div>
                <div class="grid grid-cols-3 gap-1 border-b border-emerald-300 text-xl my-2 text-center">
                    <label class="font-bold text-left pl-5">Fajr</label>
                    <label class="text-emerald-600">05:30 AM</label>
                    <label class="text-emerald-800">06:45 AM</label>
                </div>
                <div class="grid grid-cols-3 gap-1 border-b border-emerald-300 text-xl my-2 text-center">
                    <label class="font-bold text-left pl-5">Sunrise</label>
                    <label class="text-emerald-600">05:30 AM</label>
                    <label class="text-emerald-800"></label>
                </div>
                <div class="grid grid-cols-3 gap-1 border-b border-emerald-300 text-xl my-2 text-center">
                    <label class="font-bold text-left pl-5">Dhuhr</label>
                    <label class="text-emerald-600">05:30 AM</label>
                    <label class="text-emerald-800">06:45 AM</label>
                </div>
                <div class="grid grid-cols-3 gap-1 border-b border-emerald-300 text-xl my-2 text-center">
                    <label class="font-bold text-left pl-5">Asr</label>
                    <label class="text-emerald-600">05:30 AM</label>
                    <label class="text-emerald-800">06:45 AM</label>
                </div>
                <div class="grid grid-cols-3 gap-1 border-b border-emerald-300 text-xl my-2 text-center">
                    <label class="font-bold text-left pl-5">Maghrib</label>
                    <label class="text-emerald-600">05:30 AM</label>
                    <label class="text-emerald-800">06:45 AM</label>
                </div>
                <div class="grid grid-cols-3 gap-1 border-b border-emerald-300 text-xl my-2 text-center">
                    <label class="font-bold text-left pl-5">Isha</label>
                    <label class="text-emerald-600">05:30 AM</label>
                    <label class="text-emerald-800">06:45 AM</label>
                </div>
                <div class="grid grid-cols-2 gap-1 border-b border-emerald-500 font-bold text-2xl my-2 text-center">
                    <h4 class="font-bold text-left pl-5">Jummah 1</h4>
                    <h4>02:00 PM</h4>
                </div>
                <div class="grid grid-cols-2 gap-1 border-b border-emerald-500 font-bold text-2xl my-2 text-center">
                    <h4 class="font-bold text-left pl-5">Jummah 2</h4>
                    <h4>03:00 PM</h4>
                </div>
            </div>

            
        </div>
    </div>
</div>